.DS_Store
*/.DS_Store
.idea/
*.pyc
*.log
*/__pycache__
/common_platform/modules/line_bot/static/password
/common_platform/reload
joint_platform/logs/access.log
joint_platform/logs/error.log
joint_platform/reload
joint_platform/reload
joint_platform/app/__pycache__/__init__.cpython-39.pyc
joint_platform/app/__pycache__/__init__.cpython-39.pyc
joint_platform/app/cure/static/data/test/
joint_platform/app/cure/static/model/pytorch_model.bin
joint_platform/app/line_bot/openai.ipynb
joint_platform/logs/access.log
joint_platform/logs/error.log
joint_platform/app/cure/__pycache__/
joint_platform/app/cure/utils/__pycache__/__init__.cpython-39.pyc
joint_platform/start.py
README.md
joint_platform/app/socratic_qg/static/model/*
joint_platform/app/socratic_qg/static/index.js
joint_platform/app/socratic_qg/static/sbert_model/*
joint_platform/app/artquest2/static/data/*
joint_platform/app/artquest3/static/data/*
