.DS_Store
*/.DS_Store
.idea/
*.pyc
*.log
*/__pycache__
/common_platform/modules/line_bot/static/password
/common_platform/reload
joint_platform/logs/access.log
joint_platform/logs/error.log
joint_platform/reload
joint_platform/reload
joint_platform/app/__pycache__/__init__.cpython-39.pyc
joint_platform/app/__pycache__/__init__.cpython-39.pyc
joint_platform/app/cure/static/data/test/
joint_platform/app/cure/static/model/pytorch_model.bin
joint_platform/app/line_bot/openai.ipynb
joint_platform/logs/access.log
joint_platform/logs/error.log
joint_platform/app/cure/__pycache__/
joint_platform/app/cure/utils/__pycache__/__init__.cpython-39.pyc
joint_platform/start.py
joint_platform/app/socratic_qg/static/model/*
joint_platform/app/socratic_qg/static/sbert_model/*
joint_platform/app/artquest2/static/data/*
joint_platform/app/artquest3/static/data/*
joint_platform/app/artmuse/static/data/*
joint_platform/app/whatsapp_bot/static/forrest_gump.m4a
joint_platform/app/whatsapp_bot/static/password
joint_platform/app/whatsapp_bot/static/models/hf_e2e_entity_linking_aidayago/config.json
joint_platform/app/whatsapp_bot/static/models/hf_e2e_entity_linking_aidayago/merges.txt
joint_platform/app/whatsapp_bot/static/models/hf_e2e_entity_linking_aidayago/pytorch_model.bin
joint_platform/app/whatsapp_bot/static/models/hf_e2e_entity_linking_aidayago/vocab.json
joint_platform/app/whatsapp_bot/static/chromedriver
