<!-- FOOT NAVIGATION - START -->
<link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="../css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="../css/newcss.css" rel="stylesheet" type="text/css">
<link href="../css/styleguide.css" rel="stylesheet" type="text/css">
<link href="../css/template.css" rel="stylesheet" type="text/css">


<div class="container">
    <div class="row wrapper navigator">

        <div class="col-lg-6 col-sm-11 col-md-6">
            <!-- <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"> -->
            <p class="footer-left-text">
                Established in 2016, the <a href="http://smartnation.nus.edu.sg/" target="_blank">Smart Nation Research
                    Cluster</a> at the National University of Singapore contributes to the Smart Nation Initiative by
                developing strategic capabilities in data science, analytics and optimisation, and cybersecurity.
                <br> <br>
                IDS is a part of NUS's <a href="http://smartnation.nus.edu.sg/" target="_blank">Smart Nation Research
                    Cluster</a>.
            </p>
        </div>
        <div class="nus-social-box col-md-3 col-sm-7 col-sm-offset-2 col-md-offset-0">
            <div class="nus-module module">
                <div class="module-inner">
                    <h3 class="title"><span>Institute of Data Science</span></h3>
                    <div class="module-ct">
                        <ul class="nus-contact-us">
                            <li><span class="icon faicon fa-address"></span> innovation 4.0, #04-06
                                3 Research Link
                                Singapore 117602<br>
                            </li>
                            <li><span class="icon faicon fa-phone"></span>+65 6516 6666</li>
                            <li><span class="icon faicon fa-email"></span><a
                                    href="mailto:ids@nus.edu.sg">ids@nus.edu.sg</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="nus-module module footnav-alt">
                <div class="module-inner">
                    <div class="module-ct">
                        <div> <a href="http://www.facebook.com/nus.singapore" target="_blank"><img
                                    src="images/facebook.png" alt="facebook" width="35" height="35"></a>&nbsp;
                            <a href="http://twitter.com/NUSingapore" target="_blank"><img src="images/twitter.png"
                                    alt="twitter" width="35" height="35"></a>&nbsp;
                            <a href="http://www.youtube.com/nuscast" target="_blank"><img src="images/youtube.png"
                                    alt="youtube" width="35" height="35"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- FOOT NAVIGATION - END -->


    <!-- FOOTER - COPYRIGHT - START -->
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="info">© <a href="http://www.nus.edu.sg/">National University of Singapore</a>. All Rights
                    Reserved.</div>
                <div>
                    <ul class="nav-copyright">
                        <li><a href="http://www.nus.edu.sg/legal-information-notices">Legal</a></li>
                        <li class="bullet"><a href="#">Branding guidelines</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- FOOTER - COPYRIGHT - END -->
</div>