<!-- !!! IDS: Mobile menu-->
<div id="nus-sidebar-off-canvas" class="nus-sidebar-off-canvas offcanvas offcanvas-end flex-shrink-0" tabindex="-1"
    aria-labelledby="nus-sidebar-off-canvas">
    <div class="header offcanvas-header">
        <h5 class="offcanvas-title">Sidebar</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="body offcanvas-body">
        <div class="nus-module module_menu">
            <div class="module-inner">
                <h3 class="title">
                    <span>Main Menu</span>
                </h3>
                <div class="module-ct">
                    <ul class="list-unstyled ps-0">
                        <li class="mb-1">
                            <a href="" class="mnu-lvl-1 btn align-items-center">Home</a>
                        </li>

                        <li class="mb-1">
                            <a href="about.html" class="mnu-lvl-1 btn align-items-center">About</a>
                        </li>
                        <li class="mb-1">
                            <a href="people.html" class="mnu-lvl-1 btn align-items-center">People</a>
                        </li>

                        <li class="mb-1">
                            <a href="publications.html"
                                class="mnu-lvl-1 btn align-items-center d-inline-block w-75">Research</a>
                            <button class="btn btn-toggle align-items-center collapsed float-end w-25"
                                data-bs-toggle="collapse" data-bs-target="#menu-2-collapse"
                                aria-expanded="false">learnmore</button>
                            <div class="collapse" id="menu-2-collapse">
                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 ">
                                    <li>
                                        <a href="publications.html">Publications</a>
                                    </li>
                                    <li>
                                        <a href="achievements.html">Achievements</a>
                                    </li>
                                    <li>
                                        <a href="for-team-members.html">For Team Members</a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="mb-1">
                            <a href="jobs.html"
                                class="mnu-lvl-1 btn align-items-center d-inline-block w-75">Opportunities</a>
                            <button class="btn btn-toggle align-items-center collapsed float-end w-25"
                                data-bs-toggle="collapse" data-bs-target="#menu-3-collapse"
                                aria-expanded="false">learnmore</button>
                            <div class="collapse" id="menu-3-collapse">
                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 ">
                                    <li>
                                        <a href="jobs.html">Job Openings</a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="mb-1">
                            <a href="seminars.html"
                                class="mnu-lvl-1 btn align-items-center d-inline-block w-75">Events</a>
                            <button class="btn btn-toggle align-items-center collapsed float-end w-25"
                                data-bs-toggle="collapse" data-bs-target="#menu-4-collapse"
                                aria-expanded="false">learnmore</button>
                            <div class="collapse" id="menu-4-collapse">
                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 ">
                                    <li>
                                        <a href="seminars.html">Seminars</a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- !!! IDS: Desktop menu-->
<div class="container-lg">
    <div class="row justify-content-evenly">
        <!-- LOGO SECTION - START -->
        <div class="col nus-logo">
            <div class="d-flex flex-row">
                <!-- NUS LOGO -->
                <div>
                    <a class="navbar-brand" href="https://ids.nus.edu.sg/">
                        <img src="images/ids-logo.png" alt="NUS" />
                    </a>
                </div>
            </div>
        </div>
        <!-- LOGO SECTION - END -->
        <div class="col d-none d-lg-block">
            <!-- QUICKLINKS -->
            <!-- !!! IDS: Dekstop menu -->
            <div class="nus-quicklinks">
                <ul class="box nav nav-pills">

                    <li>
                        <a class="" href="index.html" data-target="#"><span class="fa fa-home"></span></a>
                    </li>
                    <li>
                        <a class="" href="about.html" data-target="#">About</a>
                    </li>
                    <li>
                        <a class="" href="people.html" data-target="#">People</a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" href="publications.html" data-toggle="dropdown"
                            data-target="#">Research <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- <li class="dropdown dropdown-submenu">
                  <a href="partnerships.html">Partnerships</a>
                </li> -->
                            <li>
                                <a href="publications.html">Publications</a>
                            </li>
                            <li>
                                <a href="achievements.html">Achievements</a>
                            </li>
                            <li>
                                <a href="for-team-members.html">For Team Members</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" href="jobs.html" data-toggle="dropdown" data-target="#">Opportunities
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="dropdown dropdown-submenu">
                                <a href="jobs.html">Job Openings</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" href="seminars.html" data-toggle="dropdown" data-target="#">Events <b
                                class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="dropdown dropdown-submenu">
                                <a href="seminars.html">Seminars</a>
                            </li>
                        </ul>
                    </li>
                </ul>

            </div>
            <!-- //QUICKLINKS -->
        </div>
        <!-- SEARCH & BURGER Mobile-->
        <div class="col nus-mobile-nav d-block d-lg-none">
            <ul>
                <!-- <li>
            <a class="faicon fa-search collapsed" data-bs-toggle="collapse" href="#search-collapse" aria-expanded="false" aria-controls="search-collapse">&nbsp;</a>
          </li> -->
                <li>
                    <a class="faicon fa-mobile-menu btn-toggle off-canvas-toggle" data-bs-toggle="offcanvas"
                        href="#nus-sidebar-off-canvas">&nbsp;</a>
                </li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>