<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="https://cdn.metroui.org.ua/v4/css/metro-all.min.css">
    <link href="./static/index.css" rel="stylesheet">
    <title>CURE</title>
</head>

<body>
    <!-- Dashboard -->
    <div class="container-fluid" style="height: 100vh">
        <div class="grid" style="height: 100vh">
            <!-- Title -->
            <div class="row">
                <div class="cell-md-5"><h2>CURE DEMO</h2></div>
            </div>

            <div class="row">
                <div class="cell-xl-6">
                    <div class="card">
                        <div class="container">
                            <div class="grid">
                                <!-- Step 1. Scraping tweets from Twitter stream input -->
                                <div class="row">
                                    <div class="grid">
                                        <div class="row flex-justify-center">
                                            <h3>Step 1. Scraping tweets from Twitter stream</h3>
                                        </div>
                
                                        <div class="row flex-justify-center">
                                            <div class="cell-10">
                                                <input id="keywords" type="text" data-role="taginput" value="diabetes,diabetic,#diabetes,#diabetic,#diabetestype,#diabetesawareness,#insulin">
                                            </div>
                                        </div>
                
                                        <div class="row flex-justify-center">
                                            <div class="cell-xl-4">
                                                <button id="retrieve-start-button" class="button primary">Run</button>
                                            </div>
                                            <div class="cell-xl-4">
                                                <button id="retrieve-stop-button" class="button alert disabled">Stop</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
        
                                <!-- Step 1. Scraping tweets from Twitter stream output -->
                                <div class="row flex-justify-center" style="flex: 1; overflow: hidden;">
                                    <div class="cell-xl-10" style="overflow-y: scroll; height:100%; max-height: 500px;">
                                        <ul id="tweet-list" data-role="listview"
                                            data-view="table"
                                            data-select-node="true"
                                            data-structure='{"date": true}'>
                                            <li data-icon="<span class='mif-chevron-right fg-cyan'>" data-caption="Retrieved tweets will be listed here:"></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="cell-xl-6">
                    <div class="card">
                        <div class="container">
                            <div class="grid">
                                <!-- Step 2: Pre-processing retrieved tweets input -->
                                <div class="row">
                                    <div class="grid">
                                        <div class="row flex-justify-center">
                                            <h3>Step 2: Pre-processing retrieved tweets</h3>
                                        </div>
                                        <div class="row flex-justify-center">
                                            <div class="cell-xl-10">
                                                <!-- <input data-role="datepicker"> -->
                                            </div>
                                        </div>
                                        <div class="row flex-justify-center">
                                            <div class="cell-xl-4">
                                                <button id="pre-processing-button" class="button primary">Execute</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
        
                                <!-- Step 2: Pre-processing retrieved tweets output -->
                                <div class="row flex-justify-center" style="flex:1; overflow: hidden;">
                                    <div class="cell-10">
                                        <h2 style="text-align: center;">Total Tweets: <var id="total-tweets-count">0</var></h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="cell-xl-6">
                    <div class="card">
                        <div class="container">
                            <div class="grid" >
                                <!-- Step 3: Clustering and Flitering Tweets input -->
                                <div class="row">
                                    <div class="grid">
                                        <div class="row flex-justify-center">
                                            <h3>Step 3: Clustering and Flitering Tweets</h3>
                                        </div>

                                        <div class="row flex-justify-center">
                                            <div class="cell-xl-4">
                                                <button id="clustering-button" class="button primary">Run</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Step 3: Clustering and Flitering Tweets output -->
                                <div class="row" style="flex: 1; overflow: hidden;">
                                    <canvas id="myChart" style="height: 0px;"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="cell-xl-6">
                    <div class="card">
                        <div class="container">
                            <div class="grid">
                                <!-- Step 4: Classification of Check-worthiness input -->
                                <div class="row">
                                    <div class="grid">
                                        <div class="row flex-justify-center">
                                            <h3>Step 4: Classification of Check-worthiness</h3>
                                        </div>

                                        <div class="row flex-justify-center">
                                            <div class="cell-xl-4">
                                                <button id="classification-button" class="button primary">Run</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Step 4: Classification of Check-worthiness output -->
                                <div class="row flex-justify-center" style="flex:1; overflow: hidden;">
                                    <div class="cell-xl-10" style="overflow-y: scroll; height:100%; max-height:500px;">
                                        <ul id="check-worthy-list" data-role="listview"
                                            data-view="table"
                                            data-select-node="true"
                                            data-structure='{"date": true}'>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <script src="https://cdn.metroui.org.ua/v4/js/metro.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.8.0/dist/chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
    <script src="./static/index.js"></script>
</body>

</html>